# Python sanal ortamı ve önbellek dosyaları
venv/
__pycache__/
*.py[cod]

# Çevresel değişkenler ve Loglar
.env
*.log

# Vektör Veritabanı ve Yerel SQL Dosyaları
vektor_db/
*.db
*.sqlite3

# Büyük model dosyaları ve Test PDF'leri
*.gguf
*.pdf

# İşletim sistemi kalıntıları ve VS Code ayarları
.DS_Store
.vscode/